<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p th:text="${weather.getDescription()}"/>
<p th:text="${weather.getTemperature()}"/>
<p th:text="${weather.getWind()}"/>
<p th:text="${weather.getCity()}"/>


<form th:action="@{/show-weather}" th:object="${city}" method="get">
    <p>City: <input type="text" th:field="*{city}"> </p>

    <p><input type="submit" value="ok"></p>

</form>
</body>
</html>